* {
    border: none;
    box-sizing: border-box;
    padding: 0;
  }
  
  body {
    background: rgb(5, 5, 5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .container {
    background: rgb(236, 230, 230);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 2rem;
    gap: 1rem;
  }
  
  #wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    height: auto;
    gap: 0.9rem;

  }
  .divBotao  button {
    border: none;
    outline: none;
    color: white;
    background: rgb(236, 60, 7);
    height: 45px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }
  
   input {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    font-weight: 800;
    padding-left: 8px;
    border: none;
    outline: none;
    border: 2px solid rgb(236, 60, 7);
   
  }
  .myDiveWrappe {
    /* background:  rgb(87, 87, 62); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .divBotao {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-direction: row;
    width: 100%;
  }
  
  .mensagem_de-erro {
    color: red;
    font-size: 15px;
  }

  
  @media (max-width: 700px) {
    .constiner {
      width: 97%;
      height: 90vh;
      margin-top: 3rem;
      padding: 0.5rem;
      gap: 2rem;
      background: red;
    }
  }
  