* {
  border: none;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: rgb(5, 5, 5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.constiner {
  background: rgb(236, 230, 230);
  width: 50%;
  height: auto;
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 2rem;
  gap: 5rem;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  gap: 0.2rem;
}
.wrapper button {
  border: none;
  outline: none;
  color: white;
  background: rgb(236, 60, 7);
  height: 45px;
  padding: 5px;
  border-radius: 5px;
}

.wrapper input {
  height: 45px;
  width: 80%;
  border-radius: 5px;
  font-weight: 800;
  padding-left: 8px;
  border: none;
  outline: none;
  border: 2px solid rgb(236, 60, 7);
 
}

.resutado {
  /* background:  rgb(247, 74, 6); */
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  gap: 0.5rem;
  overflow: auto;
  height: 78%;
}

@media (max-width: 700px) {
  .constiner {
    width: 97%;
    height: 90vh;
    margin-top: 3rem;
    padding: 0.5rem;
    gap: 2rem;
  }
}
